/* .container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

h1 {
  font-size: 36px;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
}

label {
  display: inline-block;
  width: 150px;
  text-align: left;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: #008cba;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  background-color: #005f6b;
} */

/* ---------------------------Form CSS Start--------------------------- */

@import url("https://fonts.googleapis.com/css?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/38816/image-from-rawpixel-id-2210775-jpeg.jpg")
    center center no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.contact-us {
  background: #f8f4e5;
  padding: 50px 100px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px #ffa580, 15px 15px 1px 2px black;
}

input {
  display: block;
  width: 100%;
  font-size: 14pt;
  line-height: 28pt;
  font-family: "Fjalla One";
  margin-bottom: 28pt;
  border: none;
  border-bottom: 5px solid black;
  background: #f8f4e5;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: black;
}

input:focus {
  border-bottom: 5px solid #ffa580;
}

button {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: #ffa580;
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px black;
}
button:hover {
  background: darkcyan;
  color: white;
  border: 1px solid black;
}

::selection {
  background: #ffc8ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 5px solid #95a4ff;
  -webkit-text-fill-color: #2a293e;
  -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* ---------------------------Form CSS End--------------------------- */

/* ---------------------------Heading Text CSS--------------------------- */

.nine h1 {
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 1px;
    /* font-family: "Playfair Display", serif; */
    font-family: "Fjalla One";
    font-weight: 400;
    text-decoration: double;
  }
  .nine h1 span {
    margin-top: 5px;
    font-size: 15px;
    color: #444;
    word-spacing: 1px;
    font-weight: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
  
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
  }
  
  .nine h1 span:after,
  .nine h1 span:before {
    content: " ";
    display: block;
    /* border-bottom: 2px solid #f88a5f;
    border-top: 2px solid #f88a5f; */
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    height: 5px;
    background-color: #f8f8f8;
  }
  
  /* ---------------------------Heading Text CSS--------------------------- */

#tax-result {
  /* margin-top: 20px;
    font-size: 24px;
    /* font-weight: bold; */
  font-family: "Fjalla One";
  font-size: 20px;
  font-weight: 200;
  color: black;
  background-color: #ffa580;
  padding: 30px;
  margin-top: 20px;
  border-radius: 10px;
}
